sendmail_enable="no"
hostname="FWALL"
defaultgateway="{{ def_gate }}"
ifconfig_igb0="DHCP"
ifconfig_igb1="inet {{ in_int_ip }} netmask 255.255.255.0"
local_unbound_enable="yes"
pf_enable="YES"
sshd_enable="YES"
gateway_enable="YES"
dhcpd_enable="YES"
dhcpd_ifaces="ibg1"
# Set dumpdev to "AUTO" to enable crash dumps, "NO" to disable
dumpdev="NO"
#powerd_enable="YES"
#powerd_flags="-a hiadaptive"
